@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/futura-pt/FuturaPT-Bold.woff2') format('woff2'),
        url('../fonts/futura-pt/FuturaPT-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/futura-pt/FuturaPT-Book.woff2') format('woff2'),
        url('../fonts/futura-pt/FuturaPT-Book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
