.form-sect {
    padding-top: 108px;
    padding-bottom: 40px;
    padding-left: 74px;
    padding-right: 74px;

    @include media-md {
        padding-top: 60px;
        padding-left: 60px;
        padding-right: 60px;
    }

    @include landscape {
        padding-top: 31px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 20px;
    }

    @include media-sm {
        padding-top: 31px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 20px;
    }
}

.form-sect__title {
    margin: 0;
    margin-bottom: 130px;
    text-align: center;
    letter-spacing: $main-letter-spacing;
    color: $main-color;
    line-height: $main-line-height;
    font-size: $main-font-size;
    font-weight: 400;

    @include media-md {
        margin-bottom: 60px;
    }

    @include landscape {
        margin-bottom: 61px;
    }

    @include media-sm {
        margin-bottom: 61px;
    }
}

.form-sect__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 0;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 96px;
    list-style: none;

    @include media-md {
        margin-bottom: 60px;
    }

    @include media-sm {
        margin-bottom: 68px;
    }

    @include landscape {
        margin-bottom: 40px;
    }
}

.form-sect__item {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 30px;

    @include media-md {
        width: 100%;
    }

    &:not(:last-child) {
        @include media-md {
            margin-bottom: 30px;
        }
    }
}

.form-sect__btn-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-sect__btn-item:not(:last-child) {
    margin-bottom: 20px;
}
